body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cardo, serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after, input, textarea, button, select {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
input, option, textarea {
  border-radius: 0;
  box-shadow: none !important;
  font-size: inherit;
  font-family: inherit;
}

input:focus, label:focus, textarea:focus, select:focus, option:focus, button:focus, a:focus {
      outline: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul, ol {
  list-style-type: none;
}

a, button, select {
  text-decoration: none;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}